# Maven bloat
target/

# Sensitive Data Files
# These should never be committed to version control.
master.dat
vault.dat

### Java ###
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Build Artifacts ###
src/META-INF
META-INF/

### Eclipse ###
.classpath
.project
.settings/
bin/
tmp/

### NetBeans ###
nbproject/private/
build/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Operating System Files ###
# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~
*.swp
build.sh
run.sh

